.alert-success {
  background-color: #27ae60;
}

.alert-danger {
  background-color: #c0392b;
}

.alert-info {
  background-color: #01a3a4;
}

.alert-warning {
  background-color: #e67e22;
}

.alert {
  padding: 15px;
  color: white;
}

.alert-content {
  max-width: 960px;
  margin: 0 auto;
}

.close {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}
